body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#container {
    display: grid;
    width: 480px;
    height: 480px;
}

#gridSizeSelect {
    margin-top: 2rem;
    font-size: 18px;
    font-weight: bold;
    padding: 1rem;
}

.gridSquare {
    border: 0.1rem solid black;
}